@{
    ViewBag.Title = "Show";
}

@Scripts.Render("~/Scripts/Movies/show.js")

<h2>Show movie</h2>

<div id="showMovie">
    <img id="moviePoster" alt="movie poster" />
    <div>
        <div>
            <label>Title: </label>
            <span id="title"></span>
        </div>
        <div>
            <label>Director: </label>
            <span id="director"></span>
        </div>
        <div>
            <label>Genre: </label>
            <span id="genre"></span>
        </div>
        <div>
            <label>Year: </label>
            <span id="releaseYear"></span>
        </div>
        <div>
            <fieldset id="platforms">
            </fieldset>
        </div>
        <button id="btnEdit" class="btn">Edit</button>
        <button id="btnUpload" class="btn">Upload Poster</button>
        <button id="btnDelete" class="btn btn-danger">Delete</button>
    </div>
</div>