@{
    ViewBag.Title = "Show";
}

@Scripts.Render("~/Scripts/Movies/show.js")

<h2>Show movie</h2>

<div>
    <div class="form-group">
        <label class="control-label" for="title">Title</label>
        <input class="form-control" type="text" name="title" id="title" disabled />
    </div>
    <div class="form-group">
        <label class="control-label" for="director">Director</label>
        <input class="form-control" type="text" name="director" id="director" disabled />
    </div>
    <div class="form-group">
        <label class="control-label" for="genre">Genre</label>
        <input class="form-control" type="text" name="genre" id="genre" disabled />
    </div>
    <div class="form-group">
        <label class="control-label" for="releaseYear">Year</label>
        <input class="form-control" type="number" name="releaseYear" id="releaseYear" disabled />
    </div>
    <div>
        <fieldset id="platforms">
            <legend>
                Select streaming platforms:
            </legend>
        </fieldset>
    </div>
    <button id="btnEdit" class="btn">Edit</button>
    <button id="btnUpload" class="btn">Upload Poster</button>
    <button id="btnDelete" class="btn btn-danger">Delete</button>
</div>