
@{
    ViewBag.Title = "Create";
}

@Scripts.Render("~/Scripts/Platforms/create.js")

<h2>Add new platform</h2>

<form id="addPlatform">
    <div class="form-group">
        <label class="control-label" for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name" required minlength="3" />
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
    <button class="btn" type="reset">Reset</button>
</form>
