
@{
    ViewBag.Title = "Show";
}

@Scripts.Render("~/Scripts/Platforms/show.js")

<h2>Show platform</h2>

<div>
    <h3 id="platformName"></h3>
    <ul id="moviesList">
    </ul>
    <button id="btnEdit" class="btn">Edit</button>
    <button id="btnDelete" class="btn btn-danger">Delete</button>
</div>
