
@{
    ViewBag.Title = "Show";
}

@Scripts.Render("~/Scripts/Platforms/show.js")

<h2>Show</h2>

<div>
    <div class="form-group">
        <label class="control-label" for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name" disabled />
    </div>
    <button id="btnEdit" class="btn">Edit</button>
    <button id="btnDelete" class="btn btn-danger">Delete</button>
</div>
